
.modal-content {
    height: 80vh !important;
    max-width: 80vw !important;
    width: 80vw !important;
}

.modal-stream {
    width: 70%;
}

.modal-chat {
    width: 30%;
}

@media only screen and (max-width: 768px) {
    .modal-content {
        height: 90vh !important;
        max-width: 100vw !important;
        width: 100vw !important;
    }

    .modal-stream {
        width: 100%;
    }
    .modal-chat {
    display: none !important;
    }

}